* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  /* ---------------------Scroll setting------------------------- */
  html {
    scroll-snap-type: y mandatory;
  }
  section {
    block-size: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  /*----------------------------------------------*/
  .up {
    background-color: black;
  }
  .down {
    background-color: black;
  }
  .header {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-circle-black-background-technology_1142-12714.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
  }
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  .heading {
    color: white;
    text-align: right;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 210px;
    right: 90px;
    font-size: 30px;
  }
  #head {
    line-height: 180px;
    font-size: 80px;
  }
  #name {
    line-height: 100px;
  }
  
  .sec2 {
    transition: 1s;
  }
  
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 0.8) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.8) 90%,
      rgba(0, 0, 0, 0.8) 150%
    );
    pointer-events: none;
  }
  .heading {
    animation: slideleft 1s linear forwards;
  }
  @keyframes slideleft {
    0% {
      transform: translate(100px);
      opacity: 0;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  
  body::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /*--------------------Section 2--------------------------*/
  .sec2 {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFh_KPNkHXEUNv6mMq9E7o4hWjj9tanBGUPWgJaolU&s");
    background-position: center;
    background-size: cover;
    position: relative;
    background: rgb(56, 56, 56);
    background: linear-gradient(
      274deg,
      rgba(56, 56, 56, 1) 43%,
      rgba(58, 65, 66, 1) 59%,
      rgba(68, 77, 77, 1) 65%,
      rgba(33, 183, 200, 1) 97%,
      rgba(31, 196, 214, 1) 100%
    );
  }
  #sec2h1 {
    color: white;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    position: absolute;
    top: 60px;
    right: 80px;
    left: 400px;
    text-shadow: 5px 5px #5aa9b2;
  }
  #WR {
    color: white;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    position: absolute;
    top: 380px;
    right: 40px;
    left: 750px;
  }
  
  /* -----------------------Section 3---------------------------*/
  .sec3 {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFh_KPNkHXEUNv6mMq9E7o4hWjj9tanBGUPWgJaolU&s");
    background-position: center;
    background-size: cover;
    position: relative;
    background: rgb(56, 56, 56);
    background: linear-gradient(
      274deg,
      rgba(56, 56, 56, 1) 43%,
      rgba(58, 65, 66, 1) 59%,
      rgba(68, 77, 77, 1) 65%,
      rgba(33, 183, 200, 1) 97%,
      rgba(31, 196, 214, 1) 100%
    );
  }
  
  #sec3h1 {
    color: white;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    position: absolute;
    top: 20px;
    right: 20px;
    left: 500px;
    text-shadow: 5px 5px #5aa9b2;
  }
  #Importance {
    color: white;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    position: absolute;
    top: 300px;
    right: 40px;
    left: 750px;
  }
  /* --------------------Section 4---------------------------*/
  
  .sec4 {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFh_KPNkHXEUNv6mMq9E7o4hWjj9tanBGUPWgJaolU&s");
    background-position: center;
    background-size: cover;
    position: relative;
    background: rgb(56, 56, 56);
    background: linear-gradient(
      274deg,
      rgba(56, 56, 56, 1) 43%,
      rgba(58, 65, 66, 1) 59%,
      rgba(68, 77, 77, 1) 65%,
      rgba(33, 183, 200, 1) 97%,
      rgba(31, 196, 214, 1) 100%
    );
  }
  #sec4h1 {
    color: white;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 90px;
    position: absolute;
    top: 20px;
    right: 100px;
    left: 500px;
    text-shadow: 5px 5px #5aa9b2;
  }
  .Dos {
    width: 330px;
    padding: 20px;
    border: 5px solid rgba(255, 255, 255, 0.8);
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    position: absolute;
    top: 200px;
    right: 60px;
    left: 650px;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(0, 255, 255, 0.3);
  }
  .Donts {
    width: 360px;
    padding: 20px;
    border: 5px solid rgba(255, 255, 255, 0.8);
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    position: absolute;
    top: -6px;
    right: 60px;
    left: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(0, 255, 255, 0.3);
  }
  /*-----------------------------Fifth half-----------------------*/
  .sec5 {
    min-height: 100vh;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFh_KPNkHXEUNv6mMq9E7o4hWjj9tanBGUPWgJaolU&s");
    background-position: center;
    background-size: cover;
    position: relative;
    background: rgb(56, 56, 56);
    background: linear-gradient(
      274deg,
      rgba(56, 56, 56, 1) 43%,
      rgba(58, 65, 66, 1) 59%,
      rgba(68, 77, 77, 1) 65%,
      rgba(33, 183, 200, 1) 97%,
      rgba(31, 196, 214, 1) 100%
    );
    background-color: white;
  }
  #sec5h1 {
    color: white;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    position: absolute;
    top: 20px;
    right: 100px;
    left: 500px;
    text-shadow: 5px 5px #5aa9b2;
  }
  .button {
    text-align: center;
    border: 2px solid white;
    border-radius: 39px;
    color: white;
    background-color: black;
    text-decoration: none;
    align-items: center;
    padding: 20px 50px 60px 20px;
    cursor: pointer;
    width: 450px;
    height: 35px;
    font-size: 25px;
  }
  .button > a {
    color: white;
    text-align: center;
  }
  #rw {
    position: absolute;
    top: 320px;
    right: 650px;
  
    text-decoration: none;
  }
  #gr {
    position: absolute;
    top: 450px;
    right: 650px;
  }
  #di {
    position: absolute;
    top: 580px;
    right: 650px;
  }
  
  #ir {
    position: absolute;
    top: 320px;
    padding: 1px 50px 80px 20px;
    right: 100px;
  }
  #ar {
    position: absolute;
    top: 450px;
    right: 100px;
  }
  #de {
    position: absolute;
    top: 580px;
    right: 100px;
  }
  
  button:hover {
    background-color: #5aa9b2;
    color: black;
    transition: 0.7s;
    cursor: pointer;
  }
  #st {
    color: orange;
  }
  #hu {
    color: black;
  }
  